*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: helvetica;
}
a{
    text-decoration: none;
    color: rgb(18,18,18);
}
body{
    background-color: rgb(238, 234, 234);
}
/* start of nav css */
.nav{
    background-color: rgb(18,18,18);
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    border-bottom: solid yellow;
    position: absolute;
}
#logo img{
    float: left;
    width: 100px;
    margin-left: 20px;
}
.options{
    float: right;
    text-decoration: none;
    color: white;
    padding: 45px 30px;
    margin-right: 0;
    font-weight: 600;
    position: relative;
}
.badge{
    position: absolute;
    margin-top: -10px;
    padding: 2px 6px;
    background-color: red;
    border-radius: 50%;
}
.options:hover{
    cursor: pointer;
    background-color: rgb(241, 236, 64);
    color: black;
    transition: .5s;
}
/* end of nav css */

/* start of cart css */
.cart{
    position: relative;
    margin: auto;
    top: 120px;
    width: 80%;
    border: 1px solid rgb(18,18,18);
    margin-left: 10%;
    background-color: white;
    box-shadow: 2px 2px gray;
    text-align: center;
    
}
.cartContents{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
.cartContents img{
    margin: 3px;
    width: 180px;
    height: 180px;
}
.cartContents:hover{
    border-radius: 10px;
    border: 1px solid rgb(18,18,18);
    box-shadow: 2px 2px gray;
    transition: .5s;
    cursor: pointer;
}
#empty-cart{
    border: 1px solid rgb(18,18,18);
    width: 150px;
    margin-bottom: 5px;
    cursor: pointer;
}
#empty-cart:hover{
    background-color: rgb(18,18,18);
    color: rgb(241, 236, 64);
    transition: .3s;
}
/* end of cart css */

/* start of view-product css */
#product{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 120px;
}
.product-image{
    margin-left: 20px;
    height: 120px;
    width: 400px;
    height: 400px;
}
.product-image img{
    width: 400px;
    height: 400px;
}
.product-details{
    margin-right: 20px;
    color: rgb(18,18,18);
    height: 120px;
}
.product-option{
    margin: 20px 0 0 20px;
}
.prod-options{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(18,18,18);
    font-size: 25px;
    cursor: pointer;
}
.prod-options:hover{
    background-color: rgb(241, 236, 64);
    color: rgb(18,18,18);
    transition: .5s;
    border-radius: 10px;
}
/* end of view-product css */